{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"importOrder": ["^\\.((?!\\/images\\/).)*$", "^\\..*"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
