// This file defines global SCSS variables, imported through Svelte preprocess directive in svelte.config.js.
// It also defines common classes and font faces used throughout the codebase

// USC colors
$cardinal: #990000;
$gold: #FFCC00;
$black: #000;
$dark-gray: #777;
$light-gray: #CCC;
$white: #FFF;
$sans: National, sans-serif;
$z-background: 1;
$z-content: 2;
$z-overlay: 3;

// USC font
@font-face {
  font-family: National;
  font-weight: 400;
  src: url("/NationalWeb-Regular.ttf");
}

@font-face {
  font-family: National;
  font-weight: 300;
  src: url("/NationalWeb-Light.ttf");
}

// CSS Utils
.container {
  // This derives from Bootstrap convention
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 12px;
  padding-left: 12px;
}