// This file defines global SCSS variables, imported through Svelte preprocess directive in svelte.config.js.

// USC colors
$cardinal: #990000;
$gold: #FFCC00;
$black: #000;
$dark-gray: #777;
$light-gray: #CCC;
$white: #FFF;
